*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{

}
h3{
    text-align: center;
    margin:20px 0px;
}
.app-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 100vh;
    font-family: sans-serif;
    background: #f3f3f3;
}
.app{
    width:300px;
    border: 2px solid #c1c1c1;
    padding:9px;
    min-height: 80vh;
    border-radius: 6px;
    background-color: #fff;
    position: relative; 
}
.wrong{
    color:red;
}
.uTask{
    text-align: start;
    color:#223;
    font-weight: 600;
}
.addButton{
    background: #ddd;
    padding:10px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    border:1px solid #ddd;
    margin-bottom: 10px;

    transition: .3s ease;
}
.addButton:hover{
    border:1px solid #c1c1c1;
}
h4{
    margin: 10px 0px;
}
.addButton span{
    font-size: 13px;
}
.plus{
    background-color: #c1c1c1;
    padding:3px;
    border-radius: 3px;
}
.all-task{
    margin-top:20px;
}

.task{
    background-color: #ddd;
    padding:10px;
    line-height: 24px;
    border-radius: 6px;
}
p small{
    color:#464646;
}
.icon{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-top: 15px;
}
.icon i{
    cursor: pointer;
}

.xmark{
    text-align: end;
    cursor: pointer;
    font-size: 20px;
}
label{
    font-size: 15px;
}
input{
    width: 100%;
    padding:9px 5px;
    outline: none;
    border:1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
    transition: .3s ease;
}
input:hover{
    border: 1px solid #222;
}

.btn-wrap{
    display: flex;
    justify-content: end;
    gap:10px;
}
.btn-wrap button{
    padding:5px 10px;
    cursor: pointer;
    border:1px solid #ddd;
    transition: .3s ease;
    border-radius: 5px;

}

.btn-wrap button:hover{
    border: 1px solid #222;

}
#select{
    position: absolute;
    display: none;
    top:0;
}
#task-wrap{
    display: flex;
    flex-direction: column;
    gap:20px;
}
#inputText{
    width: 100%;
    padding:9px 5px;
    outline: none;
    border:1px solid #ddd;
    font-size: 16px;
    border-radius: 5px;
    transition: .3s ease;
}
#inputText:hover{
    border: 1px solid #222;
}